*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    
}
header{
    height: 20%;  
}
#navegador {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;    
    height: inherit;
    background-color:#97a00d;
}
.logo-gato{
        height: inherit;
        width: 23%;
}
.navegandores{    
    width: 45%;    
}
.navega-ligas{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.contenedor-liga{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width:23%;
    align-items: center;
    border: 2px solid black;
    border-radius: 35% 35% 35% 35%; 
    height: 50%;
    margin: 5%;

    
}

.ligas{    
    font-size: 90%;
    color: black;    
    margin: 5%;     
    width: 100%;
    text-align: center;
}
.imagen{
    display: flex;
    flex-direction: row;    
    justify-content: center;    
    height: 600px;
          
}
img{
    max-width: 100%;
    height: auto;
}
h1{
    position: absolute;
    align-self: center;
    font-size: 200%;
}